@model TvShowReminder.Models.EpisodeListViewModel

@{
    ViewData["Title"] = "TV-kollen";
}

<h1>TV-kollen</h1>

@if (Model.HasResults)
{
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Delete", "Home"))
            {
                <table class="table table-striped" id="table">
                    <tbody>
                        @foreach (var episode in Model.EpisodeList)
                        {
                            <tr>
                                <td><input type="checkbox" name="episodeIds" value="@episode.Episode.Id" /></td>
                                <td>@episode.Episode.AirDate.ToString("yyyy-MM-dd")</td>
                                @if (episode.Episode.EpisodeNumber == 0)
                                {
                                    <td>@episode.Subscription.TvShowName @string.Format("S{0} Special", episode.Episode.SeasonNumber)</td>
                                }
                                else
                                {
                                    <td>@episode.Subscription.TvShowName @string.Format("S{0}E{1}", episode.Episode.SeasonNumber, episode.Episode.EpisodeNumber)</td>
                                }
                                <td>@episode.Episode.Title</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Radera</button>
            }
        </div>
    </div>
}
else
{
    <p>Inga TV-program de närmaste dagarna.</p>
}