@model TvShowReminder.Models.SearchViewModel

<h3 class="search-result-header">Sökresultat för "@Model.SearchWords", @Model.SearchHits träffar</h3>

@if (Model.SearchHits > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped" id="table">
                <tbody>
                    @foreach (var show in Model.TvShows)
                    {
                        <tr>
                            <td><img class="img-responsive" src="@show.ImageUrl"/></td>
                            <td>@show.Name</td>
                            <td>@show.StartedYear</td>
                            <td><a href="@show.Link" target="_blank">Mer info.</a></td>
                            <td>
                                @if (!show.IsSubscribed)
                                {
                                    using (Html.BeginForm("Add", "Subscription"))
                                    {
                                        <input type="hidden" name="showId" value="@show.Id"/>
                                        <input type="hidden" name="showName" value="@show.Name"/>
                                        <button type="submit">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <hr>
        </div>
    </div>
}